<form [formGroup]="filterForm">
  <div class="form-container">
    <h2 mat-dialog-title>Filter</h2>
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input
        matInput
        [matDatepicker]="frompicker"
        [max]="maxDate"
        formControlName="from"
      />
      <mat-datepicker-toggle matSuffix [for]="frompicker">
      </mat-datepicker-toggle>
      <mat-datepicker #frompicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input
        matInput
        [matDatepicker]="topicker"
        [max]="maxDate"
        formControlName="to"
      />
      <mat-datepicker-toggle matSuffix [for]="topicker">
      </mat-datepicker-toggle>
      <mat-datepicker #topicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select
        formControlName="category"
      >
        @for (category of categories; track category) {
        <mat-option value="{{ category.name }}">
          {{ category.name }}
        </mat-option>
        }
      </mat-select>
      <mat-label>Category</mat-label>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tag</mat-label>
      <input matInput formControlName="tag" />
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="filterForm.value"
      >
        Apply
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()">
        Close
      </button>
    </div>
  </div>
</form>
