<form [formGroup]="categoryForm">
  <div class="form-container">
    <h2 mat-dialog-title align="center">Add New Category</h2>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-chip-grid #chipList>
        @for (sc of categoryForm.get('subCategory')?.value; track sc) {
        <mat-chip-row [removable]="removable" (removed)="removeSubCategory(sc)">
          {{ sc }}
          @if (removable) {
          <mat-icon matChipRemove>cancel</mat-icon>
          }
        </mat-chip-row>
        }
        <input
          placeholder="New Sub-Category..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addSubCategory($event)"
        />
      </mat-chip-grid>
      <mat-hint>Enter a sub-category and put a comma</mat-hint>
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="categoryForm.value"
      >
        Save
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()">
        Close
      </button>
    </div>
  </div>
</form>
