mat-toolbar {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  z-index: 1000;
  height: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) -2px -3px 3px;
}

mat-list-item {
  display: flex !important;
  justify-content: center;
}

.mat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: #550281;
}

.flex {
  display: flex;
  flex-direction: column;
}

.item-list-title{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -10px;
}
