mat-toolbar {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  z-index: 1000;
  height: 8%;
  box-shadow: rgba(0, 0, 0, 0.15) -2px -3px 3px;
}

mat-list-item {
  display: flex !important;
  justify-content: center;
}

.mat-icon {
  font-size: 28px;
  height: 28px;
  width: 28px;
}

.active{
  color: #550281;
}

.flex {
  display: flex;
  flex-direction: column;
}

.item-list-title{
  font-size: 8px;
  margin-bottom: 8px;
  margin-top: -16px;
  display: flex;
  justify-content: center;
}