.container{
  display: flex;
  align-items: center;
  margin: 0px auto 0px auto;
  height: 90vh;
  width: 80%;
  gap: 2rem;
  overflow: hidden;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-basis: 70%;
  height: 100%;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-basis: 30%;
}

.wallet-img{
  margin-top: -1rem;
  transform: scale(0.8);
}

.mobile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 8px;
  margin-top: 16px;
}

.large-text {
  font-size: 1.4em;
}

.description{
  // font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mobile-description {
  width: 22em;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 16px;
  font-style: italic;
}

#logo{
  width: 28em;
}

#mobile-logo {
  width: 18em;
}
