.container{
  margin: 2rem;
}

.mobile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 8px;
  margin-top: 16px;
}

.large-text {
  font-size: 1.4em;
}

.description{
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mobile-description {
  width: 22em;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 16px;
  font-style: italic;
}

#logo{
  width: 28em;
}

#mobile-logo {
  width: 18em;
}
