@if (applicationState.getIsMobileResolution()) {
<div class="mobile-container">
  <div>
    <img src="{{ logo }}" alt="logo" id="mobile-logo" />
  </div>
  <h1 class="large-text">{{ tagLine }}</h1>
  @if (!user) {
  <asl-google-signin-button
    type="standard"
    size="large"
    shape="circle"
    text="signin_with"
    [width]="300"
    logo_alignment="center"
  ></asl-google-signin-button>
  }
  <img src="assets/wallet.png" style="width: 18em" />
  <div class="mobile-description">{{ description }}</div>
</div>
} @else {
<div class="container">
  <img src="{{ logo }}" alt="logo" id="logo" />
  <img src="assets/wallet.png" style="width: 26em; float: right" />
  <h1>{{ tagLine }}</h1>
  @if (!user) {
  <asl-google-signin-button
    type="standard"
    size="large"
    shape="circle"
    text="signin_with"
    [width]="400"
    logo_alignment="center"
  ></asl-google-signin-button>
  }
  <div class="description">{{ description }}</div>
</div>
}
