.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.large-text {
  font-size: 4em;
  line-height: 1.2;
  padding-top: 20px;
}

#logo {
  width: 18em;
}
asl-google-signin-button {
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  asl-google-signin-button {
    padding-top: 20px;
    position: fixed;
    bottom: 84px;
  }
}