<app-loader [loadingStatus]="loading"></app-loader>
<div class="dashboard-container">
  <button mat-fab class="add-btn" (click)="openForm()" color="primary">
    <mat-icon>add</mat-icon>
  </button>
  <div class="header">
    <h1 class="mat-h1">Category</h1>
  </div>
  <div class="category-container">
    @for (c of category; track c) {
    <div class="category">
      {{ c.icon }}
      {{ c.name }}
      &nbsp;
      <button mat-icon-button (click)="openEditForm(c)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    }
  </div>
</div>
