<app-loader [loadingStatus]="loading"></app-loader>
@if (platform.getIsMobileResolution()) {
<div class="mobile-container">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    "
  >
    <img src="assets/logo.png" alt="TrackExp" id="logo" />
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <mat-card class="mobile-card">
    <mat-card-content>
      <mat-card-title> Today's Expenses </mat-card-title>
      <div class="expense-value">₹ {{ todaysExpense | number : "1.2" }}</div>
      <mat-card-title>
        Expenses till Date ({{ monthDict[month] }})
      </mat-card-title>
      <div class="expense-value">₹ {{ expenseTillDate | number : "1.2" }}</div>
    </mat-card-content>
  </mat-card>
  <div class="mobile-section-heading">Last Three Expenses</div>
  @for (exp of lastThreeExpense; track exp) {
  <div class="expense-list-grid" style="background: #fff">
    <div id="expense-title">{{ getIconFromCategory(exp.categoryId) }} {{ exp.title }}</div>
    <div id="expense-amount">₹ {{ exp.amount | number : "1.2" }}</div>
  </div>
  }
  <div class="mobile-section-heading">Expense Graph</div>
  <mat-card class="mobile-card">
    <canvas id="MyChart">{{ chart }}</canvas>
  </mat-card>
  <div class="mobile-section-heading">Categories of Expenses</div>
  <mat-card class="mobile-card">
    <canvas id="MyPieChart">{{ chart2 }}</canvas>
  </mat-card>
</div>
} @else {
<div class="grid-container">
  <h1 class="mat-h1">Hello {{ name }}!</h1>
  <mat-grid-list
    [cols]="colNumber"
    rowHeight="280px"
    (window:resize)="handelCols($event)"
  >
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title> Today's Expenses </mat-card-title>
        <div class="expense-value">₹ {{ todaysExpense | number : "1.2" }}</div>
        <br />
        <mat-card-title>
          Expenses till Date ({{ monthDict[month] }})
        </mat-card-title>
        <div class="expense-value">
          ₹ {{ expenseTillDate | number : "1.2" }}
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title> Last 3 Expenses </mat-card-title>
        @for (exp of lastThreeExpense; track exp) {
        <div class="expense-list-grid">
          <div id="expense-title">
            {{ getIconFromCategory(exp.categoryId) }} {{ exp.title }}
          </div>
          <div id="expense-amount">₹ {{ exp.amount | number : "1.2" }}</div>
        </div>
        } @if (lastThreeExpense.length === 0) {
        <div class="expense-list-grid">
          <div id="expense-title">No expense record!</div>
          <div id="expense-amount">
            <mat-icon>report_gmailerrorred</mat-icon>
          </div>
        </div>
        }
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="card4Rows">
      <mat-card class="dashboard-card">
        <mat-card-title>
          Categories of Expenses ({{ monthDict[month] }})</mat-card-title
        >
        <canvas id="MyPieChart">{{ chart }}</canvas>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="card4Cols" [rowspan]="card4Rows">
      <mat-card class="dashboard-card">
        <mat-card-title> Expense Graph ({{ year }})</mat-card-title>
        <canvas id="MyChart">{{ chart }}</canvas>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title>Select Month & Year</mat-card-title>
        <div style="display: flex; justify-content: space-between">
          <mat-form-field appearance="outline" [style]="{ width: '45%' }">
            <mat-label>Month</mat-label>
            <mat-select name="month" id="month" [(ngModel)]="month">
              <mat-option [value]="1" selected>January</mat-option>
              <mat-option [value]="2">February</mat-option>
              <mat-option [value]="3">March</mat-option>
              <mat-option [value]="4">April</mat-option>
              <mat-option [value]="5">May</mat-option>
              <mat-option [value]="6">June</mat-option>
              <mat-option [value]="7">July</mat-option>
              <mat-option [value]="8">August</mat-option>
              <mat-option [value]="9">September</mat-option>
              <mat-option [value]="10">October</mat-option>
              <mat-option [value]="11">November</mat-option>
              <mat-option [value]="12">December</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" [style]="{ width: '45%' }">
            <mat-label>Year</mat-label>
            <input type="number" matInput [(ngModel)]="year" />
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="applyMonthYear()"
          style="width: 100px"
        >
          Apply
        </button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
}
